@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro-Bold';
    src: url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

body .content {
    max-width: 1000px;
    margin: auto;
    font-family: "DIN Next LT Pro", serif;
    font-size: 18px;
    box-shadow: 0 0 10px gray;
}

section span {
    text-align: center;
    margin-left: -40px;
}

.section1 {
    background-image: url("../images/cover_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    text-align: center;
}

.section1 h1 {
    font-family: "DIN Next LT Pro-Bold", serif;
    font-size: 40px;
    font-weight: bold;
}

.section1 p {
    margin: 30px 0;
}

.section2 {
    height: 380px;
    padding: 100px 0;
}

.section2 .svg {
    height: 140px;
    margin: 20px;
}

.section3 {
    background-color: black;
    height: 380px;
    padding: 100px 0;
}

.section3 .svg {
    height: 180px;
    margin: 20px;
}

.section4 {
    height: 380px;
}

.section4 .svg {
    height: 100px;
    margin: 20px;
}

.section5 {
    margin-top: 200px;
    height: 600px;
    text-align: center;
}

.section5 img {
    margin-top: -150px;
    width: 80%;
}

.section5 h1 {
    font-family: "DIN Next LT Pro-Bold", serif;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    padding: 60px 0;
}

footer div {
    display: inline-block;
}

footer img {
    margin-bottom: -5px;
    width: 100px;
}

.synergy {
    margin-left: 40px;
    padding: 40px;
    font-family: "DIN Next LT Pro-Bold", serif;
    font-size: 30px;
    letter-spacing: 10px;
    font-variant-caps: small-caps;
    text-align: left;
    color: #333333;
}

.synergy span {
    color: rgb(241, 241, 242);
}

.synergy::after {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f16324;
    display: inline-block;
}

.button {
    background-color: #f16324;
    border: none;
    color: black;
    padding: 8px 26px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "DIN Next LT Pro-Bold", serif;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid img {
    width: 380px;
}

.grid div span {
    display: block;
    padding: 0 120px;
    font-size: 22px;
}

.white {
    color: whitesmoke;
}

.orange {
    background-color: #f16324;
}
