<div class="vacature_item">
    <div class="vacature_item_inner">
        <div class="vacature_item_inhoud">
            <h2>${title}</h2>
            <ul>
                <li>
                    <i class="fa fa-map-marker"></i> ${location}
                </li>
                <li>
                    <i class="fa fa-clock-o"></i> ${type}
                </li>
                <li>
                    <i class="fa fa-money"></i> ${salary}
                </li>
            </ul>
        </div>
        <div class="vacature_item_label">VACATURE</div>
    </div>
</div>
